.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.background-container {
    background-color: #185B49;
    z-index: -1000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.background-container video {
    opacity: 0.75;
}

.content {
    display: flex;
    height: 100vh;
    padding: 40px 0 25px 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.3s;
}
body.stop-scrolling .content {
    opacity: 0;
}

.logo {
    text-align: center;
}

.buttons {
    width: 100%;
}
.buttons .btn.launch, .buttons .btn.quit  {
    background-color: rgba(0, 8, 0, 0.4);
    text-align: center;
    padding: 17px;
    margin: 4px 0;
    cursor: pointer;
    color: #D6D6D6;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 1px 1px 1px black;
    transition: background-color 0.125s;
}
.buttons .btn.launch:hover, .buttons .btn.quit:hover {
    background-color: rgba(0, 10, 0, 0.6);
}
.buttons .btn.launch.verify {
    pointer-events: none;
    background-color: rgba(0,8,0,0.2);
}

.social {
    position: absolute;
    bottom: 1px;
    left: 3px;
    right: -4px;
    font-size: 15px;
}
.social .github {
    float: left;
    cursor: pointer;
}
.social .github img {
    max-height: 20px;
    margin-right: 5px;
    opacity: 0.9;
}
.social .github:hover img {
    max-height: 20px;
    margin-right: 5px;
    opacity: 1;
}
.social .twitter {
    float: right;
    height: 23px;
    padding-top: 3px;
    box-sizing: border-box;
}
.social .twitter span {
    cursor: pointer;
    margin-right: 8px;
    opacity: 0.9;
}
.social .twitter span:hover {
    opacity: 1;
}