.sidebar {
    width: 280px;
    height: 100vh;
    transition: background-color 200ms linear;
    left: 0;
    float: left;
    background-color: #000;
}

.sidebar .logo {
    max-width: 250px;
    margin-left: 5px;
    margin-top: 40px;
    position: relative;
}
.sidebar .logo.fade{
   -webkit-animation: fadeInOut 3s infinite;
}


  @-webkit-keyframes fadeInOut {
      from { opacity: 0.4; }
      50% { opacity: 1.0; }
      to { opacity: 0.4; }
  } 